*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;;
}

/* selettore avanzato */
header, footer, .hero, .sezione2{
    margin: 50px auto;
    width: 800px;

}
footer{
    text-align: center;
    margin-top: 20px;
}

ul{
    list-style: none;
}

li a{
    text-decoration: none;
    float: left;
    color: rgb(128, 128, 128);
    padding: 10px;
}
li a:hover{
    background-color: rgb(211, 211, 211);
}
h1{
    font-weight: 900px;
}
h5, h4, h2{
    font-weight: 600;
    padding: 10px 0;
}

.logo{
    width: 140px;
    padding: 5px;
    border-right: 1px solid grey;
}
.hero{
    height: 300px;
    background-image: url(../img/banner.jpg);
    background-size: 90%;
    background-position: center;
    position: relative;
    color: white;
}
.hero::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    border-radius: 10px;
}
.presentazione{
    position: absolute;
    max-width: 50%;
    bottom: 0;
    left: 0;
    padding-bottom: 50px;
    padding-left: 30px;
    z-index: 3;
}
/* sulla sezione centrale uso float:left per gli elementi interni e clearfix per il contenitore, per la classe row */

.colonna_laterali{
    float: left;
    height: 320px;
    width: 20%;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.row{
    padding-bottom: 10px;
}
/* fine sezione centrale */

.sezione_sottotitolo{
    height: 50px;
    margin-bottom: 40px;
}
.colonna_centrale{
    float: left;
    width: calc( 100% - 40% - 20px);
    height: 320px;
    margin: 0 10px;
}

.border_radius{
    border-radius: 10px;
}

/* immagini banner della sezione centrale */
.banner{
    width: 100%;
    height: 140px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.immagine_sinistra{
    background-image: url(../img/img-1.jpg);
}
.immagine_centrale{
    background-image: url(../img/banner-2.jpg);
}
.immagine_destra{
    background-image: url(../img/img-3.jpg);
}
.banner::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    border-radius: 10px;
}

.text_lightgrey{
    color: rgb(189, 187, 187);
}